body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .container {
    background: #085e5e;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    max-height: 100%;
    text-align: center; 
  }
  h1{
    padding-top: 20px;
    color: white;
  }

  #newbook{
    background: #9b6adc;
    color: #f9f9f9;
    padding: 10px;
    border-radius: 20px;
    
  }
  #newbook:hover{
    background: blue;
    color: #fefefe;
  }
  .book {
    border: 1px solid #094649;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color: #f9f9f9;
    display: inline-block; /* Display books in a row */
    width: calc(50% - 10px); /* Adjust width to fit two books per row */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  .book h2 {
    margin-top: 0;
  }
  .book p {
    margin: 5px 0;
  }
  .book button {
    background-color: #085e5e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .book button:hover {
    background-color: #d71629;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  footer p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }